@charset "UTF-8";
/*Importing all CSS files*/
@import url('header.css');
@import url('index.css');
@import url('footer.css');

/*Importing fonts from Google.fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    /*Color Pallete*/
    --color0: #FCFCFC;
    --color1: #373F51;
    --color2: #008DD5;
    --color3: #DFBBB1;
    --color4: #F56476;
    --color5: #E43F6F;

    /*Fonts from Google.fonts*/
    --default: Arial, Helvetica, sans-serif;
    --font0: 'Roboto', 'sans-serif';
    --font1: 'Inter', 'sans-serif';
    --font2: 'Poppins', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--color0);
    scroll-behavior: smooth;
}
